.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: $z-fixed-menu;
}

.fixed-menu__item {
  margin-bottom: 5px;

  &--active {
    .fixed-menu__link {
      border-color: #fff;
    }
  }
}

.fixed-menu__link {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;

  &::before {
    content: "";
    height: 6px;
    width: 6px;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
  }
}