.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.phone-number {
  display: flex;
  align-items: center;
  font-size: rem(24px);
  text-decoration: none;
}

.phone-icon-header {
  fill: white;
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.phone-icon-footer {
  width: 12px;
  height: 12px;
  fill: #497870;
  margin-right: 7px;
}

.phone-number__text {
  white-space: nowrap;

  &--green {
    color: #497870;
  }
}


.phone-number.header__phone-number {
  @include tablets {
    display: none;
  }
}

.phone-number__icon {
  flex-shrink: 0;
}