$containerWidth: 940px;
$baseFontSize: 18px;

//colors
$blue: #61C4D9;
$darkGreen: #365A49;
$black: #292929;

//z-index
$z-fixed-menu: 100;

//normolize
@import url(./normalize.css);


//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap');
@import "layout";


//components
@import "components/hero";
@import "components/header.scss";
@import "components/dignities.scss";
@import "components/dignity.scss";
@import "components/button.scss";
@import "components/section.scss";
@import "components/benefits.scss";
@import "components/benefit.scss";
@import "components/headline.scss";
@import "components/benefits-section.scss";
@import "components/reviews.scss";
@import "components/interactive-avatar.scss";
@import "components/reviews-section.scss";
@import "components/order-section.scss";
@import "components/form.scss";
@import "components/radio.scss";
@import "components/fixed-menu.scss";