.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 24px;

  &:last-child {
    margin-right: 0;
  }

  &--checkbox {
    margin-bottom: 27px;

    .radio__visible {
      border-radius: 5px;

      &::before {
        background: url("./../../img/check.png") center center no-repeat;
      }
    }
  }
}

.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &::before {
      content: "";
      display: block;
    }
  }
}

.radio__visible {
  height: 26px;
  width: 26px;
  background: #fff;
  position: relative;
  border-radius: 50%;
  margin-bottom: 16px;
  margin-right: 10px;

  &::before {
    content: "";
    display: none;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: #365A49;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}