.reviews-section {
  position: relative;
  background: url("./../../img/berryandnuts.png") right 5% top 16% no-repeat;

  &::after {
    content: url("./../../img/blueberry.png");
    position: absolute;
    bottom: -90px;
    left: 0;
  }

  &::before {
    content: url("./../../img/leaf3.png");
    position: absolute;
    bottom: -160px;
    left: 0;
  }
}